body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #1e3a8a;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #2563eb;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
}

footer {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
}
